<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row remove-margin card-header">
            <div class="col-6">
          Employee Details
            </div>
          <div class="col-6">
            <button *ngIf="!isNew" (click)="addNew()" type="submit" class="btn btn-sm btn-primary pull-right ml-1"><i
                class="fa fa-plus"></i>
              Add</button>
            <button *ngIf="isNew" (click)="addNew()" type="submit" class="btn btn-sm btn-danger pull-right ml-1"><i
                class="fa fa-close"></i>
              Close</button>
          </div>
        </div>
        <div class="card-body">
          <ng-container *ngIf="!isNew; else userDetails">
            <p-table [value]="users" dataKey="empId" rowExpandMode="single" [expandedRowKeys]="expandedRows"
              tableStyleClass="table table-responsive-sm table-hover table-outline mb-0">
              <!-- <table class="table table-responsive-sm table-hover table-outline mb-0"> -->
              <ng-template pTemplate="header">
                <!-- <thead class="thead-light"> -->
                <tr style="height: auto;">
                  <th class="text-center"><i class="icon-people"></i></th>
                  <th>Name</th>
                  <th class="text-center">Phone</th>
                  <th>Gender</th>
                  <th>Description</th>
                  <th>StartTime</th>
                  <th>EndTime</th>
                  <th class="text-center">Join Date</th>
                  <th>Action</th>
                </tr>
                <!-- </thead> -->
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-i="rowIndex">
                <!-- <tbody> -->
                <!-- <ng-container *ngFor="let booking of bookingList; let index = index"> -->
                <tr>
                  <td class="table-td text-center">
                    <div class="avatar">
                      <img [src]="rowData.imgPath || 'assets/style1/img/team/1.png'" class="img-avatar" alt="img"
                      
                    (mouseleave)="imagePath = '';op1.hide($event)"
                    (mouseenter)="imagePath = rowData.imgPath;op1.show($event)">
                      <span class="avatar-status badge-success"></span>
                    </div>
                  </td>
                  <td class="table-td">
                    <div>{{rowData.name}}</div>
                    <div class="small text-muted">
                      <span>New</span> | Experience:{{ rowData.experience}}
                    </div>
                  </td>
                  <td class="table-td text-center">
                    <!-- <i class="flag-icon flag-icon-us h4 mb-0" title="us" id="us"></i> -->
                    {{rowData.phone}}
                  </td>
                  <td class="table-td">
                    {{rowData.gender}}
                  </td>

                  <td class="table-td">
                    {{rowData.description}}
                  </td>
                  <td class="table-td">
                    {{rowData.starttime}}
                  </td>
                  <td class="table-td">
                    {{rowData.endtime}}
                  </td>
                  <td class="table-td text-center">
                    <!-- <i class="fa fa-cc-mastercard" style="font-size:24px"></i> -->
                    {{rowData.joiningOfDate}}
                  </td>
                  <td class="table-td">
                    
                    <div class="row">
                      <i class="fa fa-eye fa-lg m-1 icon-action"
                        (click)="isModified ? openModal(template) : rowExpand(rowData,i, 'view_'+ i); mode = 'view'"
                        [ngClass]="action === 'view_'+i ? 'active' : ''"></i>
                      <i class="fa fa-edit fa-lg m-1 icon-action"
                        (click)="isModified ? openModal(template) : rowExpand(rowData,i, 'edit_'+i); mode = 'edit'"
                        [ngClass]="action === 'edit_'+i ? 'active' : ''"></i>
                      <i class="fa fa-trash fa-lg m-1 icon-action"
                        (click)="isModified ? openModal(template) : rowExpand(rowData,i, 'delete_'+i); mode = 'delete'"
                        [ngClass]="action === 'delete_'+i ? 'active' : ''"></i>
                     
                    </div>
                  </td>
                </tr>
                <!-- </ng-container> -->
                <!-- </tbody> -->
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-rowData>
                <tr>

                  <td colspan="9">
                    <ng-container *ngTemplateOutlet="
                    userDetails; context:{rowData: rowData}"></ng-container>
                  </td>
                </tr>
              </ng-template>
            </p-table>

          </ng-container>
          <!-- </table> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<ng-template #template>
  <div class="modal-body text-center">
      <p>Changes are not saved, Do you want to Close?</p>
      <button type="button" class="btn btn-secondary m-1" (click)="confirm()">Yes</button>
      <button type="button" class="btn btn-primary m-1" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>

<ng-template #userDetails let-rowData="rowData">
  <div class="ui-g ui-fluid align-ctr">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Employee</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="company">Name</label>
            <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.name" name="name" class="form-control"
              id="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="vat">Phone</label>
            <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.phone" name="phone" class="form-control"
              id="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="description">description</label>
            <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.description" name="description" class="form-control"
              id="description" placeholder="description">
          </div>
          <div class="form-group">
            <label for="vat">Email</label>
            <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.emailId" name="email" class="form-control"
              id="phone" placeholder="Email">
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="vat">Gender</label>
              <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.gender" name="Gender"
                class="form-control" id="phone" placeholder="Gender">
            </div>
            <div class="form-group col-sm-4">
              <label for="vat">Services</label>
              <p-multiSelect [options]="services" 
              [(ngModel)]="user.serviceLists" 
              optionLabel="serviceName" 
              dataKey="serviceId" 
              maxSelectedLabels="2"></p-multiSelect>
            </div>
            <div class="form-group col-sm-4">
              <label for="vat">Experience</label>
              <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.experience" name="experience"
                class="form-control" id="phone" placeholder="Experience">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-4">
              <label for="vat">StartTime</label>
              <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" 
              [(ngModel)]="user.shift.shiftStartTime" name="StartTime"
                class="form-control" id="shiftstarttime" placeholder="HH:MM:SS">
            </div>
            
            <div class="form-group col-sm-4">
              <label for="vat">EndTime</label>
              <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true"
               [(ngModel)]="user.shift.shiftEndTime" name="EndTime"
                class="form-control" id="endtime" placeholder="HH:MM:SS">
            </div>

            
            <div class="form-group col-sm-4">
              <label for="Days">Select Days</label>
              <p-multiSelect [options]="dayNames" 
              [(ngModel)]="user.shift.days" 
              optionLabel="name" 
              dataKey="value" maxSelectedLabels="2">
            </p-multiSelect>
              
            </div>
          </div>


          <div class="form-group">
            <label for="street">Street</label>
            <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.address.street" class="form-control"
              id="street" placeholder="Enter street name">
          </div>
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="city">City</label>
              <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.address.city" class="form-control"
                id="city" placeholder="Enter your city">
            </div>
            <div class="form-group col-sm-4">
              <label for="postal-code">Postal Code</label>
              <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.address.pincode" class="form-control"
                id="postal-code" placeholder="Postal Code">
            </div>
          </div>
          <!--/.row-->
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" [disabled]="mode !== 'edit'" (change)="isModified = true" [(ngModel)]="user.address.country" class="form-control"
              id="country" placeholder="Country name">
          </div>
          <div class="form-group" *ngIf="mode === 'edit'">
              <label for="country">Image</label>
              <input type="file" (change)="isModified = true; uploadFile($event)"
                  [(ngModel)]="productImage" name="Image" id="Image"
                  placeholder="Image name"> <br>
                  <label *ngIf="imageUploading">Uploading...</label>
          </div>
        </div>
        <div class="card-footer" *ngIf="mode === 'edit'">
          <button (click)="submitData()" [disabled]="imageUploading" type="submit" class="btn btn-sm btn-primary pull-right ml-1"><i
              class="fa fa-dot-circle-o"></i>
            Submit</button>
          <button (click)="resetData(rowData, isNew)" type="reset" class="btn btn-sm btn-danger pull-right"><i
              class="fa fa-ban"></i>
            Reset</button>
        </div>
        <div class="card-footer" *ngIf="mode === 'delete'">
          <button (click)="deleteData(rowData)" type="submit" class="btn btn-sm btn-primary pull-right"><i
              class="fa fa-dot-circle-o"></i>
            Delete</button>

        </div>
      </div>
    </div>
  </div>
</ng-template>

<p-overlayPanel #op1>
    <img [src]="imagePath" alt="Galleria 1" />
</p-overlayPanel>