<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid p-2">
        <div class="row align-items-center no-gutters">
          <div class="col-2">
            <div class="logo-img">
              <a href="#">
                <img src="assets/style1/img/logo.jpg" style="height:8vh" alt="" />
              </a>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8 col-sm-3 d-none d-lg-block"> -->
             <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a  (click)="selectedLink('home')" [ngClass]="{'active':isHomeLinkActivated}" href="#home">home</a></li>
                  <li><a (click)="selectedLink('aboutus')" [ngClass]="{'active':isAboutUsActivated}" href="#about_area">About Us</a></li>
                  <li><a (click)="selectedLink('service')" [ngClass]="{'active':isServiceActivated}" href="#service_area">service</a></li>
                  <li><a (click)="selectedLink('gallary')" [ngClass]="{'active':isGallaryActivated}" href="#gallery_area">Gallary </a></li>
                  <li><a (click)="selectedLink('video1')" [ngClass]="{'active':isVideo1Activated}" href="#video_area">Our Work </a></li>
                  <li><a (click)="selectedLink('video2')" [ngClass]="{'active':isVideo2Activated}" href="#video_area1">Careers</a></li>
                  <li><a (click)="selectedLink('cutter1')" [ngClass]="{'active':isCutter1Activated}"  href="#cutter_muster">Stylishers</a></li>
                  <li><a (click)="selectedLink('cutter2')" [ngClass]="{'active':isCutter2Activated}" href="#cutter_muster1">Products</a></li>
                  <li><a (click)="selectedLink('findus')" [ngClass]="{'active':isFindActivated}" href="#find_us_area">Contact</a></li>
                  <li><a [routerLink]="'/login'"  >Login</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col">
            <div class="book_room">
              <div class="book_btn">
                <a class="popup-with-form" #form href="#test-form">Make an Appointment</a>
              </div>
            </div>
          </div>
          <!-- <div class="col d-sm-block">
            <div class="d-block d-lg-none">
              <div class="book_room">
                <div class="book_btn">
                  <a class="popup-with-form" #form1 href="#test-form">Make an Appointment</a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</header>

<div id="test-form" class="white-popup-block mfp-hide">
  <app-booking-form></app-booking-form>
</div>
<!-- header-end -->