.action-icons[aria-expanded="true"] {
  color: rgb(255, 0, 0);
}

.icon-action.active {
  color: rgb(255, 0, 0);
}

.align-ctr {
  font-size: 16px;
  // padding: 20px;
  // margin-left: 18%;
  // margin-right: 18%;
}
